header {
    background-color: black;
    color: white;
    margin: 0%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 100%;
}

.buttonsub {
    width: 100px;
    height: 40px;
}

.buttonsub:hover {
    box-shadow: 1px 1px 10px black;
}

.boxhead {
    width: 100%;
    background-color: black;
    color: white;
    margin: 0%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.result{
    margin: 0%;
    border: 2px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color:aqua;
    border-radius: 20px;
}

.boxmain{
    display: flex;
    align-items: center;    
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
}

.boxinput{
    height: 40px;
}


.boxsec {

    display: flex;
    align-items: center;    
    flex-direction: column  ;
    border: 2px solid;
    height: 22em;
    min-width: 22em;
    width: 22em;
    border-radius: 10px;
    background-color: aliceblue;
}

.boxsec:hover {
    box-shadow: 4px 4px 20px black;
}

header h1{
    margin: 0%;

}

body {
    margin: 0%;
    background-color: rgb(193, 194, 195);
}

* {
    box-sizing: border-box;

}
